<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial Investment</label>
      <input
        type="number"
        name="initial-investment"
        id="initial-investment"
        [(ngModel)]="enteredIntialInvestment"
      />
    </p>
    <p>
      <label for="annual-investment">Annual Investment</label>
      <input
        type="number"
        id="annual-investment"
        name="annual-investment"
        [(ngModel)]="enteredAnnualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input
        type="number"
        id="expected-return"
        name="expected-return"
        [(ngModel)]="enteredExpectedReturn"
      />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input
        type="number"
        id="duration"
        name="duration"
        [(ngModel)]="enteredDuration"
      />
    </p>
  </div>

  <p>
    <button>Calculate</button>
  </p>
</form>
